platform/platform-codegen/src/main/resources/xsd/domain-types.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="domain">
        <xs:all>
            <xs:element name="enums" type="enumList" minOccurs="0">
                <xs:unique name="uniqueEnum">
                    <xs:selector xpath="enum|enum16"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>

            <xs:element name="interfaces" type="interfaceList" minOccurs="0">
                <xs:unique name="uniqueInterface">
                    <xs:selector xpath="interface"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>

            <xs:element name="types" type="typeList" minOccurs="0">
                <xs:unique name="uniqueType">
                    <xs:selector xpath="type|composite"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>

            <xs:element name="messages" type="messageList" minOccurs="0">
                <xs:unique name="uniqueMessage">
                    <xs:selector xpath="message"/>
                    <xs:field xpath="@name|@id"/>
                </xs:unique>
            </xs:element>
        </xs:all>

        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="package" type="xs:string" use="required"/>
        <xs:attribute name="sbeSchemaVersion" type="xs:nonNegativeInteger"/>
        <xs:attribute name="import" type="xs:string"/>
        <xs:attribute name="lockDomainVersion" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="enumList">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="enum" type="enum" maxOccurs="unbounded" minOccurs="0">
                <xs:unique name="uniqueEnumName">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
                <xs:unique name="uniqueEnumValue">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@value"/>
                </xs:unique>
            </xs:element>
            <xs:element name="enum16" type="enum" maxOccurs="unbounded" minOccurs="0">
                <xs:unique name="uniqueEnum16Name">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
                <xs:unique name="uniqueEnum16Value">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@value"/>
                </xs:unique>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="interfaceList">
        <xs:sequence>
            <xs:element name="interface" type="interface" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="typeList">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="type" type="type" minOccurs="0"/>
            <xs:element name="composite" type="composite" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="messageList">
        <xs:sequence>
            <xs:element name="message" type="message" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="message">
        <xs:complexContent>
            <xs:extension base="baseMessage">
                <xs:sequence>
                    <xs:element name="implements" type="implementList" minOccurs="0">
                        <xs:unique name="uniqueMessageImport">
                            <xs:selector xpath="interface"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>
                    </xs:element>
                    <xs:element name="fields" type="messageFieldList" minOccurs="0">
                        <xs:unique name="uniqueMessageFieldName">
                            <xs:selector xpath="field|uniqueIdField"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>
                        <xs:unique name="uniqueMessageFieldId">
                            <xs:selector xpath="field|uniqueIdField"/>
                            <xs:field xpath="@id"/>
                        </xs:unique>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="composite">
        <xs:complexContent>
            <xs:extension base="baseType">
                <xs:sequence>
                    <xs:element name="fields" type="typeFieldList">
                        <xs:unique name="uniqueCompositeFieldName">
                            <xs:selector xpath="field"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>
                        <xs:unique name="uniqueCompositeFieldId">
                            <xs:selector xpath="field"/>
                            <xs:field xpath="@id"/>
                        </xs:unique>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="enum">
        <xs:complexContent>
            <xs:extension base="baseType">
                <xs:sequence>
                    <xs:element name="item" type="enumField" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="type">
        <xs:complexContent>
            <xs:extension base="composite">
                <xs:sequence>
                    <xs:element name="implements" type="implementList" minOccurs="0">
                        <xs:unique name="uniqueTypeImport">
                            <xs:selector xpath="interface"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="interface">
        <xs:complexContent>
            <xs:extension base="baseType">
                <xs:sequence>
                    <xs:element name="implements" type="implementList" minOccurs="0">
                        <xs:unique name="uniqueInterfaceImport">
                            <xs:selector xpath="interface"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>
                    </xs:element>
                    <xs:element name="fields" type="interfaceFieldList" minOccurs="0">
                        <xs:unique name="uniqueInterfaceFieldName">
                            <xs:selector xpath="field"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>
                        <xs:unique name="uniqueInterfaceFieldId">
                            <xs:selector xpath="field"/>
                            <xs:field xpath="@id"/>
                        </xs:unique>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="implementList">
        <xs:sequence>
            <xs:element name="interface" type="baseType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

   <xs:complexType name="typeFieldList">
       <xs:sequence>
           <xs:element name="field" type="typeField" maxOccurs="unbounded" minOccurs="0"/>
       </xs:sequence>
   </xs:complexType>

    <xs:complexType name="messageFieldList">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="field" type="messageField" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="uniqueIdField" type="uniqueIdField" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="interfaceFieldList">
        <xs:sequence>
            <xs:element name="field" type="interfaceField" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="messageField">
        <xs:complexContent>
            <xs:extension base="uniqueIdField">
                <xs:attribute name="max-length" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="uniqueIdField">
        <xs:complexContent>
            <xs:extension base="genericTypeField">
                <xs:attribute name="sbeSinceVersion" type="xs:nonNegativeInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="enumField">
        <xs:complexContent>
            <xs:extension base="baseField">
                <xs:attribute name="value" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="typeField">
        <xs:complexContent>
            <xs:extension base="genericTypeField">
                <xs:attribute name="max-length" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="genericTypeField">
        <xs:complexContent>
            <xs:extension base="simpleField">
                <xs:attribute name="id" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="interfaceField">
        <xs:complexContent>
            <xs:extension base="simpleField">
                <xs:attribute name="max-length" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="simpleField">
        <xs:complexContent>
            <xs:extension base="baseField">
                <xs:attribute name="type" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="baseField">
        <xs:complexContent>
            <xs:extension base="baseType">
                <xs:attribute name="deprecated" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="baseMessage">
        <xs:complexContent>
            <xs:extension base="baseType">
                <xs:attribute name="id" type="xs:integer"/>
                <xs:attribute name="intern" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="baseType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>

</xs:schema>